<div id="signInPage">
  <div id="signInWebsiteTitle">Welcome to StockBox!</div>
  <div id="signInSubtitle">
    Face off against your friends to see who can build the best investment
    portfolio!
  </div>
  <div id="signInTitle">Sign In</div>
  <form method="POST" action="/auth/signIn" id="signInForm">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label"> Email Address </label>
          <input type="email" name="emailAddress" class="form-control" />
        </div>

        <div class="form-group">
          <label class="form-label"> Password </label>
          <input type="password" name="password" class="form-control" />
        </div>

        <br />

        <div class="form-group" id="signInButtonCont">
          <button  type="submit" class="btn btn-primary submitButton">
            Sign In
          </button>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>
