<h1>Create a new account</h1>

<form method="POST" action="/auth/signUp" enctype="multipart/form-data" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="validationCustom01" class="form-label" id="validationCustom01"> First Name: </label>
    <input type="text" name="firstName" class="form-control" />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Provide a valid first name</div>
  </div>

  <div class="form-group">
    <label class="form-label"> Last Name: </label>
    <input type="text" name="lastName" class="form-control" />
  </div>

  <div class="form-group">
    <label for="validationCustom02" class="form-label" "> Email Address: </label>
    <input type="email" name="emailAddress" class="form-control" id="validationCustom02"/>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Provide a valid first name</div>
  </div>

  <div class="form-group">
    <label class="form-label"> Password: </label>
    <input type="password" name="password" class="form-control" />
  </div>

  <div class="form-group">
    <label class="form-label"> Preferred Currency: </label>
    <select name="preferredCurrency" class="custom-select custom-select-sm">
      <option value="CAD" selected>Canadian (CAD)</option>
      <option value="USD">United States Dollar (USD)</option>
  </select>
  </div>
  <br>

  <div class="form-group">
    <label class="form-label"> Bio: </label>
    <input type="textarea" name="bio" class="form-control" maxlength='200' placeholder="Max 200 characters"/>
  </div>

  <div>
    <label class="form-label" for="image">Upload Image</label>
    <br>
    <input type="file" id="image" name="image">
  </div>

  <br>

  <div>
    <input type="submit" class="btn btn-primary"></input>
  </div>
</form>
