<div id="newPortfolio">
    <h2>New Portfolio</h2>
    <form method="POST" action="/profile/addPortfolio" class="needs-validation" novalidate>
        <div class="form-group">
            <label class="form-label"> Portfolio Name: </label>
            <input type="text" name="portfolioName" class="form-control" minlength=2 maxlength=20 required/>
        </div>
        <br>
        <div id="allAssets">
            <div class="row asset">
                <div class="form-group col-md-3">
                    <label class="form-label"> Asset Ticker: </label>
                    <input type="text" name="assetName" class="form-control" placeholder="Ex. TSLA" required/>
                </div>
                <div class="form-group col-md-3" id="assetType">
                    <label class="form-label"> Type of Asset: </label>
                    <select name="typeOfAsset" class="form-select" required>
                        <!-- Note that the values here are 1 digit so that the length function works in our controller -->
                        <!-- if you change the below, you must change in static java as well -->
                        <option value="S" selected>US Stocks</option>
                        <option value="C">Crypto</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label"> Price Obtained: </label>
                    <input type="number" name="priceObtained" class="form-control" min=0 required/>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label"> Quantity Owned: </label>
                    <input type="number" name="qtyOwned" class="form-control" min=0 required/>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary newAsset" id='newAsset' type="button">+ Add</button>
        <br>
        <br>
        <div>
            <input type="submit" class="btn btn-primary submitButton" ></input>
        </div>
    </form>
</div>
<script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>