<div id="newPortfolio">
    <h2>New Portfolio</h2>
    <form method="POST" action="/profile/addPortfolio">
        <div class="form-group">
            <label> Portfolio Name: </label>
            <input type="text" name="portfolioName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Post Publicly?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="isPublic" value='true' id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="isPublic" value='false' id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                No
                </label>
            </div>
        </div>
        <br>
        <div id="allAssets">
            <div id="asset1">
                <div class="form-group">
                    <label> Asset Ticker: </label>
                    <input type="text" name="assetName" class="form-control" />
                </div>
                <div class="form-group">
                    <label> Type of Asset: </label>
                    <select name="typeOfAsset" class="custom-select custom-select-sm">
                        <!-- Note that the values here are 1 digit so that the length function works in our controller -->
                        <option value="S" selected>US Stocks</option>
                        <option value="C">Crypto Currency</option>
                    </select>
                </div>
                <div class="form-group">
                    <label> Price Obtained: </label>
                    <input type="number" name="priceObtained" class="form-control" min=0/>
                </div>
            </div>
        </div>
        <br>
        <button type="button" id="newAsset">+ Add</button>
        <br>
        <!-- To implement datalist -->
        <!-- <div class="form-group">
            <label for="exampleDataList" class="form-label">Datalist example</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="datalistOptions">
                mdl.data.forEach(x=>{
                <option value="= x ">
            </datalist>
        </div> -->
        <br>
        <div>
            <input type="submit" class="btn btn-primary"></input>
        </div>
    </form>

</div>