<form method="POST" action="/profile/updateUser?_method=PUT" enctype="multipart/form-data">
    <div class="form-group">
      <label> First Name: </label>
      <input type="text" name="firstName" class="form-control" value="<%= user.firstName %>" />
    </div>
  
    <div class="form-group">
      <label> Last Name: </label>
      <input type="text" name="lastName" class="form-control" value="<%= user.lastName %>"/>
    </div>
  
    <div class="form-group">
      <label> Preferred Currency: </label>
      <select name="preferredCurrency" class="custom-select custom-select-sm">
        <option value="CAD" <% if(user.preferredCurrency=='CAD') {%> selected<% } %>>Canadian (CAD)</option>
        <option value="USD"<% if(user.preferredCurrency=='USD') {%> selected<% } %>>United States Dollar (USD)</option>
    </select>
    </div>
    <br>
  
    <div class="form-group">
      <label> Bio: </label>
      <input type="textarea" name="bio" class="form-control" maxlength='200' placeholder="Max 200 characters" value="<%= user.bio %>"/>
    </div>
  
    <div>
      <label for="image">Upload Image</label>
      <br>
      <input type="file" id="image" name="image">
    </div>
  
    <br>
  
    <div>
      <input type="submit" class="btn btn-primary"></input>
    </div>
</form>
<div id="deleteUser">
    <label id="deleteUser">Delete Your Profile</label>
    <br>
    <a class="deletePortfolio" href="/profile/deleteUser">Delete Permanently</a>  
</div>