<div id="profileGrid">
    <div id="profileHeader">header</div>
    <div id="profileInfo">info</div> 
    <div id="profileFeed">feed</div>
    <div id="overallProgress">progress</div>
    <div id="topPortfolios">
        <div>Portfolios</div>
        <a class="nav-link" href="/profile/addPortfolio">+ New Portfolio</a>
    </div>
</div>
