
/* General */
main{
    width: 95%;
    margin: 0 auto; 
    --main-border-color: rgb(221, 221, 221);
}

/* NavBar */
.navbar{
    background-image: linear-gradient(rgb(68, 226, 89), rgb(223, 255, 227));
    margin-bottom: 10px;
}
.navbar-brand{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
}

/* Profile landing page */
#profileGrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "profileTag profileTag profileTag chart chart chart chart chart"
    "profileTag profileTag profileTag chart chart chart chart chart"
    "profileTag profileTag profileTag chart chart chart chart chart"
    "profileTag profileTag profileTag chart chart chart chart chart"
    "profileTag profileTag profileTag chart chart chart chart chart"
    "portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio"
    "portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio"
    "portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio";
    margin: 0 auto; 
    gap: 4px;
    height: 80vh;
}
#profileGrid>*{
    padding: 5px;
}
/* Grid Elements */
#profileInfo{
    grid-area: profileTag;
    border: 2px solid var(--main-border-color);
}
#overallProgress{
    grid-area: chart;
    position: relative;
    border: 2px solid var(--main-border-color);
}
.profileLabels{
    display: block;
    width: 80%;
    font-size: 30px;
}

/* Portfolio section */
#topPortfolios{
    grid-area: portfolio;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--main-border-color);
}
#portfolioLabels{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.portfolioListEl{
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
#portfolioTopAssets{
    display: flex;
}
.portfolioAsset{
    padding: 0 5px;
}
#arrow{
    font-size: 20px;
}
/* Chart */
#progressChartCont{
    width:auto;
    height:100%;
}

/* Profile Box Styling */
#profileInfo{
    display:flex;
    flex-wrap: wrap;
}
#picWithBio{
    display: flex;
    height: 70%;
    align-items: center;
    padding: 0;
}
#profilePic{
    width: auto;
    height: 100%;    
}
#userBio{
    display: block;
    padding: 0 0 0 10px;
}

#leaderboardCont{

}
#leaderboard{
    height: 80vh;
}