
.navbar{
    background-image: linear-gradient(rgb(68, 226, 89), rgb(223, 255, 227))
}

/* Profile landing page */
main{
    width: 95%;
    margin: 0 auto; 
}
#profileGrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "subBar subBar subBar subBar subBar subBar subBar subBar"
    "profileTag profileTag profileTag chart chart chart chart chart"
    "profileTag profileTag profileTag chart chart chart chart chart"
    "feed feed feed chart chart chart chart chart"
    "feed feed feed chart chart chart chart chart"
    "feed feed feed portfolio portfolio portfolio portfolio portfolio"
    "feed feed feed portfolio portfolio portfolio portfolio portfolio"
    "feed feed feed portfolio portfolio portfolio portfolio portfolio";
    margin: 0 auto; 
    gap: 4px;
    height: 80vh;
}
#profileGrid>*{
    padding: 5px;
}
/* Grid Elements */
#profileHeader{
    grid-area: subBar;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
#profileInfo{
    grid-area: profileTag;
    border: 2px solid black;
}
#profileFeed{
    grid-area: feed;
    border: 2px solid black;
}
#overallProgress{
    grid-area: chart;
    border: 2px solid black;
}
#topPortfolios{
    grid-area: portfolio;
    border: 2px solid black;
}

/* Add Portfolio */

#addPortfolio{
    display: flex;
    width: 95%;
    margin: 0 auto; 
    height: 80vh;
}

.navbar-brand{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
}

.portfolioListEl{
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
#portfolioTopAssets{
    display: flex;
}
.portfolioAsset{
    padding: 0 5px;
}
#arrow{
    font-size: 20px;
}