
<div id="searchResults">
    <% matchingUsers.forEach(user=>{ %>
    <% console.log('userid: ', user.id) %>

    <div class='usercard col-lg-3'>
        <img class='usercard-image' src="<%= user.image %>">
        <div class='usercard-name'><%= user.firstName %> <%= user.lastName %></div>
        <a href="/visitProfile?id=<%= user.id %>">Visit</a>
    </div>
    <% }) %>

</div>
